# Feature Analysis

In [2]:
import pandas as pd

In [91]:
data = pd.read_csv("/Users/steliosrammos/Documents/Education/Maastricht/DKE-Year3/Bachelor Thesis/data/v2/client_scores_full.csv", sep=";", decimal=",")
data.rename(columns={'client_id': 'uuid'}, inplace=True)
data = data.set_index('uuid')

data = data[data['survey_date'] != '2915-10-20']
# data = data[data['survey_date'] >= '2017-01-01']
# data = data[data['survey_date'] <= '2018-06-30']
data['survey_date'] = pd.to_datetime(data['survey_date'],infer_datetime_format=True)
print('Max: {},\nMin {}'.format(data['survey_date'].max(), data['survey_date'].min()))
# data = data.drop('survey_date', axis=1)
data.head()

Max: 2018-10-15 00:00:00,
Min 2000-01-01 00:00:00

,survey_date,survey_name,score_name,score_value
uuid,,,,
1348001455490850631,2017-08-09,Vervallen - Algemene Intake Rughuis,AlgIntakeOpleidingsniveauScore_Raw,3
1348001455490850631,2017-08-09,Vervallen - Algemene Intake Rughuis,AlgIntakeWoonsituatieScore_Raw,3
1348001455490850631,2017-08-09,Vervallen - Algemene Intake Rughuis,educationLevel,32
1348001455490850631,2017-08-09,Vervallen - Algemene Intake Rughuis,livingConditions,40
1348001455490850631,2017-08-09,EQ-5D-5L,EQ-5D-5L-Profile,22332

In [96]:
data['survey_name'].unique()

array(['Vervallen - Algemene Intake Rughuis', 'EQ-5D-5L', 'Rand 36',
       'PDI', 'TSK', 'PHODA-SeV', 'NPRS', 'CSI', 'SBT', 'QBPDS', 'PCI',
       'HADS-NL', 'BDI-II-NL', 'OQ-45.2', 'BSI', 'UCL', 'PCS',
       'painDETECT', 'NDI', 'Algemene Intake V4.0', 'CIS', 'CISS',
       'Vervallen - Algemene Intake', 'SCL 90',
       'Arbeid - Intake - Algemene vragenlijst VAR',
       'Algemene Intake V3.0', 'zz_obsolete_BDI', '4DKL', 'DAPP-BQ',
       'SVL concept', 'PSK', 'YSQ 2.0',
       'Invuloefening TevredenheidsenquÃªte Het Rughuis', 'HIT-6', 'SIMS',
       'SMI'], dtype=object)

## The oldest date of use for each questionnaire

In [98]:
data.groupby('survey_name')['survey_date'].min().to_csv('questionnaire_oldest_use.csv')

In [78]:
data.loc[(data['survey_name'] == 'PDI') & (data['score_name'] == 'BeperkingScore'),'score_name'] = 'PDI_BeperkingScore'
data.loc[(data['survey_name'] == 'QBPDS') & (data['score_name'] == 'BeperkingScore'),'score_name'] = 'QBPDS_BeperkingScore'
data.loc[(data['survey_name'] == 'NDI') & (data['score_name'] == 'BeperkingScore'),'score_name'] = 'NDI_BeperkingScore'

After filtering out the questionnaires that are missing a high percentage of values, we are left with those questionnaires: 

* Vervallen - Algemene Intake Rughuis
* Rand 36 
* PDI
* TSK
* PHODA-SeV
* NPRS
* SBT
* QBPDS
* PCI
* OQ-45.2
* BSI
* UCL 
* PCS
* Vervallen - Algemene Intake
* NDI
* Algemene Intake V3.0

In [82]:
# Check all Vervallen - Algemene Intake Rughuis scores

data[(data['survey_name'] == 'Vervallen - Algemene Intake Rughuis') & (data.index == 1348001455490850631)]

,survey_name,score_name,score_value
uuid,,,
1348001455490850631,Vervallen - Algemene Intake Rughuis,AlgIntakeOpleidingsniveauScore_Raw,3
1348001455490850631,Vervallen - Algemene Intake Rughuis,AlgIntakeWoonsituatieScore_Raw,3
1348001455490850631,Vervallen - Algemene Intake Rughuis,educationLevel,32
1348001455490850631,Vervallen - Algemene Intake Rughuis,livingConditions,40

In [83]:
# Check all Rand 36 scores

data[(data['survey_name'] == 'Rand 36') & (data.index == 1348001455490850631)]

                    survey_name                        score_name score_value
uuid
1348001455490850631     Rand 36  AlgemeneGezondheidsbelevingScore          40
1348001455490850631     Rand 36           FysiekFunctionerenScore          65
1348001455490850631     Rand 36       GezondheidsveranderingScore          25
1348001455490850631     Rand 36            MentaleGezondheidScore          48
1348001455490850631     Rand 36                         PijnScore        57,5
1348001455490850631     Rand 36     RolbeperkingenEmotioneelScore         100
1348001455490850631     Rand 36         RolbeperkingenFysiekScore           0
1348001455490850631     Rand 36          SociaalFunctionerenScore        62,5
1348001455490850631     Rand 36                   VitaliteitScore          20

In [84]:
# Check all PDIscores

data[(data['survey_name'] == 'PDI') & (data.index == 1348001455490850631)]

                    survey_name           score_name score_value
uuid
1348001455490850631         PDI   PDI_BeperkingScore          42
1348001455490850631         PDI  BeperkingPercentage          60

In [85]:
# Check all TSK scores

data[(data['survey_name'] == 'TSK') & (data.index == 1348001455490850631)]

                    survey_name           score_name score_value
uuid
1348001455490850631         TSK  BewegingsangstScore          40

In [86]:
# Check all PHODA-SeV scores

data[(data['survey_name'] == 'PHODA-SeV') & (data.index == 1348001455490850631)]

                    survey_name        score_name score_value
uuid
1348001455490850631   PHODA-SeV   PhodaQuestion_1          94
1348001455490850631   PHODA-SeV   PhodaQuestion_2          80
1348001455490850631   PHODA-SeV   PhodaQuestion_3          80
1348001455490850631   PHODA-SeV   PhodaQuestion_4          75
1348001455490850631   PHODA-SeV   PhodaQuestion_5          76
1348001455490850631   PHODA-SeV   PhodaQuestion_6          20
1348001455490850631   PHODA-SeV   PhodaQuestion_7          20
1348001455490850631   PHODA-SeV   PhodaQuestion_8          33
1348001455490850631   PHODA-SeV   PhodaQuestion_9          47
1348001455490850631   PHODA-SeV  PhodaQuestion_10          60
1348001455490850631   PHODA-SeV  PhodaQuestion_11          66
1348001455490850631   PHODA-SeV  PhodaQuestion_12          60
1348001455490850631   PHODA-SeV  PhodaQuestion_13          66
1348001455490850631   PHODA-SeV  PhodaQuestion_14          64
1348001455490850631   PHODA-SeV  PhodaQuestion_15          35
1348001455490850631   PHODA-SeV  PhodaQuestion_16          59
1348001455490850631   PHODA-SeV  PhodaQuestion_17          69
1348001455490850631   PHODA-SeV  PhodaQuestion_18          29
1348001455490850631   PHODA-SeV  PhodaQuestion_19          35
1348001455490850631   PHODA-SeV  PhodaQuestion_20          33
1348001455490850631   PHODA-SeV  PhodaQuestion_21          45
1348001455490850631   PHODA-SeV  PhodaQuestion_22          99
1348001455490850631   PHODA-SeV  PhodaQuestion_23         100
1348001455490850631   PHODA-SeV  PhodaQuestion_24           0
1348001455490850631   PHODA-SeV  PhodaQuestion_25          43
1348001455490850631   PHODA-SeV  PhodaQuestion_26          32
1348001455490850631   PHODA-SeV  PhodaQuestion_27          34
1348001455490850631   PHODA-SeV  PhodaQuestion_28          22
1348001455490850631   PHODA-SeV  PhodaQuestion_29          52
1348001455490850631   PHODA-SeV  PhodaQuestion_30          65
1348001455490850631   PHODA-SeV  PhodaQuestion_31          84
1348001455490850631   PHODA-SeV  PhodaQuestion_32          72
1348001455490850631   PHODA-SeV  PhodaQuestion_33          36
1348001455490850631   PHODA-SeV  PhodaQuestion_34          74
1348001455490850631   PHODA-SeV  PhodaQuestion_35          47
1348001455490850631   PHODA-SeV  PhodaQuestion_36          84
1348001455490850631   PHODA-SeV  PhodaQuestion_37          47
1348001455490850631   PHODA-SeV  PhodaQuestion_38          68
1348001455490850631   PHODA-SeV  PhodaQuestion_39          59
1348001455490850631   PHODA-SeV  PhodaQuestion_40          81
1348001455490850631   PHODA-SeV           Average          56

In [23]:
# Check all PHODA-SeV scores

data[(data['survey_name'] == 'NPRS') & (data.index == 1348001455490850631)]

                    survey_name            score_name score_value
uuid
1348001455490850631        NPRS        GemiddeldScore           5
1348001455490850631        NPRS  SlechtsteMomentScore           7

In [26]:
# Check all SBT scores

data[(data['survey_name'] == 'SBT') & (data.index == 1348001455490850631)]

                    survey_name       score_name  score_value
uuid
1348001455490850631         SBT           Risico  Laag risico
1348001455490850631         SBT      TotaalScore            1
1348001455490850631         SBT  SubuitslagScore            0

In [25]:
# Check all QBPDS scores

data[(data['survey_name'] == 'QBPDS') & (data.index == 1348001455490850631)]

                    survey_name           score_name score_value
uuid
1348001455490850631       QBPDS       BeperkingScore          51
1348001455490850631       QBPDS  BeperkingPercentage          51

In [29]:
# Check all PCI scores

data[(data['survey_name'] == 'PCI') & (data.index == 1348001455490850631)]

                    survey_name                score_name score_value
uuid
1348001455490850631         PCI        ActieveCopingScore          26
1348001455490850631         PCI   ActieveCopingPercentage       38,89
1348001455490850631         PCI        TransformerenScore          10
1348001455490850631         PCI           OntspannenScore          10
1348001455490850631         PCI      VerminderingVanEisen           6
1348001455490850631         PCI       PassieveCopingScore          43
1348001455490850631         PCI  PassieveCopingPercentage       34,92
1348001455490850631         PCI              Terugtrekken          12
1348001455490850631         PCI             Catastroferen          20
1348001455490850631         PCI                    Rusten          11
1348001455490850631         PCI                   Vraag34         NaN

In [30]:
# Check all OQ-45.2 scores

data[(data['survey_name'] == 'OQ-45.2') & (data.index == 1348001455490850631)]

,survey_name,score_name,score_value
uuid,,,
1348001455490850631,OQ-45.2,OQ452_SD_Raw_Score,48
1348001455490850631,OQ-45.2,OQ452_SD_Normal_Score,Zeer hoog > 42
1348001455490850631,OQ-45.2,OQ452_SD_Pain_Score,Gemiddeld
1348001455490850631,OQ-45.2,OQ452_IR_Raw_Score,12
1348001455490850631,OQ-45.2,OQ452_IR_Normal_Score,Boven gemiddeld
1348001455490850631,OQ-45.2,OQ452_IR_Pain_Score,Beneden gemiddeld
1348001455490850631,OQ-45.2,OQ452_SR_Raw_Score,13
1348001455490850631,OQ-45.2,OQ452_SR_Normal_Score,Hoog
1348001455490850631,OQ-45.2,OQ452_SR_Pain_Score,Beneden gemiddeld
1348001455490850631,OQ-45.2,OQ452_ASD_Raw_Score,23
1348001455490850631,OQ-45.2,OQ452_ASD_Normal_Score,Hoog
1348001455490850631,OQ-45.2,OQ452_ASD_Pain_Score,Beneden gemiddeld
1348001455490850631,OQ-45.2,OQ452_TOT_Raw_Score,73
1348001455490850631,OQ-45.2,OQ452_TOT_Normal_Score,Zeer hoog > 71
1348001455490850631,OQ-45.2,OQ452_TOT_Pain_Score,Beneden gemiddeld
1348001455490850631,OQ-45.2,OQ452_Rv_Suicide_01,Ik denk erover om een eind aan mijn leven te m...
1348001455490850631,OQ-45.2,OQ452_Rv_DrugsAlc_02,"Na zwaar gedronken te hebben, moet ik de volge..."

In [31]:
# Check all BSI scores

data[(data['survey_name'] == 'BSI') & (data.index == 1348001455490850631)]

                    survey_name          score_name        score_value
uuid
1348001455490850631         BSI             Bsi_Age                 50
1348001455490850631         BSI   Bsi_Som_Raw_Score                  2
1348001455490850631         BSI   Bsi_Cog_Raw_Score                  7
1348001455490850631         BSI   Bsi_Int_Raw_Score                  6
1348001455490850631         BSI   Bsi_Dep_Raw_Score                  8
1348001455490850631         BSI   Bsi_Ang_Raw_Score                  5
1348001455490850631         BSI   Bsi_Hos_Raw_Score                  9
1348001455490850631         BSI   Bsi_Fob_Raw_Score                  4
1348001455490850631         BSI   Bsi_Par_Raw_Score                  7
1348001455490850631         BSI   Bsi_Psy_Raw_Score                  4
1348001455490850631         BSI   Bsi_Itm_Raw_Score                  2
1348001455490850631         BSI   Bsi_Tot_Raw_Score                 54
1348001455490850631         BSI  Bsi_Som_Norm_Score  0,285714285714286
1348001455490850631         BSI  Bsi_Cog_Norm_Score   1,16666666666667
1348001455490850631         BSI  Bsi_Int_Norm_Score                1,5
1348001455490850631         BSI  Bsi_Dep_Norm_Score   1,33333333333333
1348001455490850631         BSI  Bsi_Ang_Norm_Score  0,833333333333333
1348001455490850631         BSI  Bsi_Hos_Norm_Score                1,8
1348001455490850631         BSI  Bsi_Fob_Norm_Score                0,8
1348001455490850631         BSI  Bsi_Par_Norm_Score                1,4
1348001455490850631         BSI  Bsi_Psy_Norm_Score                0,8
1348001455490850631         BSI  Bsi_Itm_Norm_Score                0,5
1348001455490850631         BSI  Bsi_Tot_Norm_Score    1,0188679245283
1348001455490850631         BSI   Bsi_Som_Amb_Score  Beneden gemiddeld
1348001455490850631         BSI   Bsi_Cog_Amb_Score  Beneden gemiddeld
1348001455490850631         BSI   Bsi_Int_Amb_Score    Boven gemiddeld
1348001455490850631         BSI   Bsi_Dep_Amb_Score          Gemiddeld
1348001455490850631         BSI   Bsi_Ang_Amb_Score  Beneden gemiddeld
1348001455490850631         BSI   Bsi_Hos_Amb_Score               Hoog
1348001455490850631         BSI   Bsi_Fob_Amb_Score          Gemiddeld
1348001455490850631         BSI   Bsi_Par_Amb_Score    Boven gemiddeld
1348001455490850631         BSI   Bsi_Psy_Amb_Score  Beneden gemiddeld
1348001455490850631         BSI   Bsi_Tot_Amb_Score          Gemiddeld
1348001455490850631         BSI   Bsi_Som_Age_Score          Gemiddeld
1348001455490850631         BSI   Bsi_Cog_Age_Score               Hoog
1348001455490850631         BSI   Bsi_Int_Age_Score   Zeer hoog > 1,26
1348001455490850631         BSI   Bsi_Dep_Age_Score   Zeer hoog > 1,18
1348001455490850631         BSI   Bsi_Ang_Age_Score               Hoog
1348001455490850631         BSI   Bsi_Hos_Age_Score   Zeer hoog > 1,01
1348001455490850631         BSI   Bsi_Fob_Age_Score   Zeer hoog > 0,61
1348001455490850631         BSI   Bsi_Par_Age_Score               Hoog
1348001455490850631         BSI   Bsi_Psy_Age_Score               Hoog
1348001455490850631         BSI   Bsi_Tot_Age_Score   Zeer hoog > 0,93

In [32]:
# Check all BSI scores

data[(data['survey_name'] == 'UCL') & (data.index == 1348001455490850631)]

                    survey_name     score_name score_value
uuid
1348001455490850631         UCL            Age          50
1348001455490850631         UCL  Act_Raw_Score          11
1348001455490850631         UCL  Pal_Raw_Score          15
1348001455490850631         UCL  Ver_Raw_Score          19
1348001455490850631         UCL  Soc_Raw_Score           6
1348001455490850631         UCL  Pas_Raw_Score          15
1348001455490850631         UCL  Exp_Raw_Score           5
1348001455490850631         UCL  Ger_Raw_Score           9
1348001455490850631         UCL  Act_All_Score   Zeer laag
1348001455490850631         UCL  Pal_All_Score   Gemiddeld
1348001455490850631         UCL  Ver_All_Score        Hoog
1348001455490850631         UCL  Soc_All_Score   Zeer laag
1348001455490850631         UCL  Pas_All_Score        Hoog
1348001455490850631         UCL  Exp_All_Score   Gemiddeld
1348001455490850631         UCL  Ger_All_Score        Laag
1348001455490850631         UCL  Act_Age_Score   Zeer laag
1348001455490850631         UCL  Pal_Age_Score   Gemiddeld
1348001455490850631         UCL  Ver_Age_Score        Hoog
1348001455490850631         UCL  Soc_Age_Score   Zeer laag
1348001455490850631         UCL  Pas_Age_Score        Hoog
1348001455490850631         UCL  Exp_Age_Score   Gemiddeld
1348001455490850631         UCL  Ger_Age_Score   Gemiddeld

In [33]:
# Check all PCS scores

data[(data['survey_name'] == 'PCS') & (data.index == 1348001455490850631)]

                    survey_name          score_name  score_value
uuid
1348001455490850631         PCS      RuminatieScore           10
1348001455490850631         PCS   MagnificatieScore            5
1348001455490850631         PCS  HulpeloosheidScore           12
1348001455490850631         PCS         TotaalScore           27
1348001455490850631         PCS      RuminatieLevel  Subklinisch
1348001455490850631         PCS   MagnificatieLevel  Subklinisch
1348001455490850631         PCS  HulpeloosheidLevel         Hoog
1348001455490850631         PCS         TotaalLevel  Subklinisch

In [36]:
# Check all Vervallen - Algemene Intake scores

data[(data['survey_name'] == 'Vervallen - Algemene Intake') & (data.index == 7996042880678528391)]

,survey_name,score_name,score_value
uuid,,,
7996042880678528391,Vervallen - Algemene Intake,AlgIntakeOpleidingsniveauScore_Raw,5
7996042880678528391,Vervallen - Algemene Intake,AlgIntakeWoonsituatieScore_Raw,3
7996042880678528391,Vervallen - Algemene Intake,educationLevel,41
7996042880678528391,Vervallen - Algemene Intake,livingConditions,40

In [39]:
# Check all Algemene Intake V3.0 scores

data[(data['survey_name'] == 'Algemene Intake V3.0') & (data.index == 6157671584280385088)]

,survey_name,score_name,score_value
uuid,,,
6157671584280385088,Algemene Intake V3.0,arbeidsSituatie_Raw,1
6157671584280385088,Algemene Intake V3.0,bmiLength_Raw,NaN
6157671584280385088,Algemene Intake V3.0,bmiWeight_Raw,NaN
6157671584280385088,Algemene Intake V3.0,bmi_Raw,NaN
6157671584280385088,Algemene Intake V3.0,AlgIntakeOpleidingsniveauScore_Raw,9
6157671584280385088,Algemene Intake V3.0,AlgIntakeWoonsituatieScore_Raw,4
6157671584280385088,Algemene Intake V3.0,educationLevel,43
6157671584280385088,Algemene Intake V3.0,livingConditions,20

In [43]:
# Check all NDI

data[(data['survey_name'] == 'NDI') & (data.index == 7996042880678528391)]

                    survey_name           score_name score_value
uuid
7996042880678528391         NDI       BeperkingScore          27
7996042880678528391         NDI  BeperkingPercentage          54

In [99]:
data[data['score_name']=='Risico']

                     survey_date survey_name score_name         score_value
uuid
 1348001455490850631  2017-08-09         SBT     Risico         Laag risico
 1796478442211936386  2018-08-29         SBT     Risico  Middelmatig risico
-3158142728848140845  2018-07-02         SBT     Risico         Laag risico
-1041686378411226676  2018-07-02         SBT     Risico         Hoog risico
-2302123008696894046  2018-07-02         SBT     Risico  Middelmatig risico
 1981003413204140791  2018-07-02         SBT     Risico  Middelmatig risico
 525149489740790873   2018-07-02         SBT     Risico         Laag risico
-871423974441484611   2018-07-02         SBT     Risico         Hoog risico
-6008116857048482360  2017-03-13         SBT     Risico         Hoog risico
-2031732695794141193  2017-03-13         SBT     Risico         Hoog risico
 5156369492644096883  2017-03-13         SBT     Risico         Hoog risico
 3927083555465037134  2015-04-14         SBT     Risico                Laag
-4889063797572568669  2016-12-23         SBT     Risico         Hoog risico
-2330082158577087436  2016-12-23         SBT     Risico  Middelmatig risico
-4617747650773327137  2016-12-27         SBT     Risico         Hoog risico
-4387103220667519831  2017-06-06         SBT     Risico         Hoog risico
-7396094568601833629  2017-06-06         SBT     Risico         Hoog risico
-5602298649617906974  2016-07-07         SBT     Risico  Middelmatig risico
-416293163051926633   2016-07-07         SBT     Risico         Laag risico
-4010842897527934003  2016-07-07         SBT     Risico         Hoog risico
 2718395098691135010  2016-07-07         SBT     Risico  Middelmatig risico
-2637151864312372889  2016-02-19         SBT     Risico  Middelmatig risico
-6264494569394558829  2016-02-19         SBT     Risico  Middelmatig risico
-5665058443901057245  2016-02-22         SBT     Risico         Hoog risico
 2511878483409222852  2016-02-23         SBT     Risico         Hoog risico
-3921066400906871000  2016-02-25         SBT     Risico         Hoog risico
-4057754294849703199  2016-02-25         SBT     Risico         Hoog risico
-526655952947683063   2016-02-25         SBT     Risico         Hoog risico
-6756540835982463279  2016-02-25         SBT     Risico         Laag risico
-9106188009344164849  2016-02-25         SBT     Risico  Middelmatig risico
...                          ...         ...        ...                 ...
-3149016618525351151  2018-03-20         SBT     Risico  Middelmatig risico
-7584441986826162625  2017-06-30         SBT     Risico         Laag risico
 521806230286242512   2017-06-30         SBT     Risico         Laag risico
-890499225279206467   2016-01-13         SBT     Risico  Middelmatig risico
-7417260098669449087  2017-03-28         SBT     Risico  Middelmatig risico
-8186661509797287521  2017-04-13         SBT     Risico  Middelmatig risico
 7487956876811917684  2017-04-13         SBT     Risico         Hoog risico
-1187563183410748840  2017-04-13         SBT     Risico         Laag risico
-1459247123240558080  2017-04-13         SBT     Risico  Middelmatig risico
-2468654423685841201  2017-04-13         SBT     Risico         Hoog risico
-5164451247120496236  2016-09-09         SBT     Risico         Laag risico
 1407699890499672444  2016-09-09         SBT     Risico  Middelmatig risico
 5614944220606935922  2017-10-25         SBT     Risico  Middelmatig risico
-6123007282978783336  2017-03-13         SBT     Risico  Middelmatig risico
 6890030239662698654  2017-03-13         SBT     Risico  Middelmatig risico
-8110859738058401442  2017-03-13         SBT     Risico  Middelmatig risico
 2709253824449718822  2017-03-13         SBT     Risico  Middelmatig risico
 2494729538473055169  2018-03-26         SBT     Risico         Laag risico
-8481371016854039038  2018-03-26         SBT     Risico  Middelmatig risico
 7836839333048731     2018-03-26         SBT     Risico         Hoog risico
 2304198622349482041  2018-03-26         SBT     Risico         Hoog risico
-7199747546404910251  2018-03-26         SBT     Risico  Middelmatig risico
-7934128042028068981  2018-03-26         SBT     Risico         Hoog risico
-3814267423678039419  2018-01-23         SBT     Risico  Middelmatig risico
-2601066017770200925  2017-03-28         SBT     Risico         Hoog risico
 7938642389887291065  2017-06-30         SBT     Risico         Hoog risico
 3791913564802948769  2017-08-08         SBT     Risico  Middelmatig risico
-817595738290396285   2017-08-08         SBT     Risico         Hoog risico
-7035256575860342200  2017-08-08         SBT     Risico                 3-1
 6589075646464401039  2017-08-08         SBT     Risico  middelmatig risico

[4657 rows x 4 columns]